<h1>Películas Ingresadas</h1>

<% @movies.each do |p| %>
    <h2><%= p.name %></h2>
    <h4>Resumen: <%= p.synopsis %></h4>
    <p>Director: <%= p.director %></p>
<% end%>

 <%= link_to "Agregar nueva Película", movies_new_path %>