<h1>Documentales Ingresados</h1>

<% @documentary.each do |p| %>
    <h2><%= p.name %></h2>
    <h4>Resumen: <%= p.synopsis %></h4>
    <p>Director: <%= p.director %></p>
<% end%>

 <%= link_to "Agregar nuevo Documental", documentaries_new_path %>